<nav class="navbar navbar-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cog"> UserDetails</span></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret"></span></a>
                <ul class="dropdown-menu"></ul>
            </li>
            <li><a href="#"><span class="glyphicon glyphicon-refresh"></span></a></li>
        </ul>
    </div>
</nav>

<div class="panel panel-default">
    <div class="panel-body" style="padding:0px!important;">
        <h2> Edit User</h2>
    </div>
</div>



<div class="panel-body">
    <div class="col-md-12">


        <div class="container">

            <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
                <!-- TODO
                    <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" formControlName="name">
                    <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)" class="text-danger">
                        Name is required (minimum 5 characters).
                    </small>
                    <pre class="margin-20">{{ myForm.controls.name.errors | json }}</pre>
                </div>-->
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="useridId">UserId:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="UserId">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="userNameId">Username:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="Username">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="emailidId">EmailId:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="Email">


                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="mobileNoId">Mobile No:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="Mobile">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="userRoleId" style="color:red">User Role:</label>
                            <div class="col-sm-8">
                                <select class="form-control" type="text" formControlName="RoleId">
                                    <option></option>
                                    <option value="1">ADMIN</option>
                                    <option value="2">LDAP</option>
                                    <option value="3">NORMAL</option>

                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="departmentId">Department:</label>
                            <div class="col-sm-8">

                                <input type="text" class="form-control" formControlName="Department">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="titleId">Title:</label>
                            <div class="col-sm-8">
                                <!--TODO
                                    <input #title="ngModel" required type="text" class="form-control" name="title" [(ngModel)]="ulist.title"
                                       placeholder="title" style="background-color:aliceblue" />-->
                                <input type="text" class="form-control" formControlName="Title">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="statusId" style="color:red">Status:</label>
                            <div class="col-sm-8">
                                <!--TODO
                                    <label class="toggle col-sm-8">
                                    <input type="checkbox" (click)="Existing()">
                                    <span class="handle"></span>
                                </label>-->
                                <!--TODO
                                    <div class="toggle-button toggle-button-selected">
                                    <span></span>
                                </div>-->
                                <!--<input type="text" class="form-control" formControlName="Status">-->
                                <ui-switch color="#66CDAA"></ui-switch>
                                <!-- TODO
                                    <input type="checkbox" checked data-toggle="toggle">-->
                                <!--<label class="checkbox-inline">
                                    <input type="checkbox" checked data-toggle="toggle"> First
                                </label>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit" (click)="saveProduct()">
                                Save
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-primary"
                                    [routerLink]="['/list']">
                                Cancel
                            </button>
                        </span>

                    </div>
                </div>

                <!-- TODO
                    <button type="submit" class="btn btn-default" (click)="saveProduct()">Submit</button>-->

            </form>
        </div>


    </div>
</div>