<div class="page-container-bg-solid">
    <div class="page-wrapper">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">
                <!-- BEGIN HEADER -->
                <div class="page-header margin-muted">
                    <!-- BEGIN HEADER TOP -->
                    <div class="page-header-top">
                        <div class="container">
                            <!-- BEGIN LOGO -->
                            <div class="page-logo">
                                    <img src="../../../Content/Images/Logo.png" alt="logo" class="logo-default">                     
                            </div>
                            <!-- END LOGO -->
                            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                            
                            <div class="top-menu dropdown dropdown-user" dropdown [dropdownToggle]="true" (onOpen)="doSomeActionOnOpen()" (onClose)="doSomeActionOnClose()">
                                <button class="btn btn-default " dropdown-open id="dropdown-button">
                                    <i class="fa fa-user"></i>
                                    <span class="username username-hide-mobile">{{user}}</span>
                                    <i class="fa fa-navicon"></i>
                                 </button>
                                <ul class="dropdown-menu dropdown-menu-default dropdown-dark">
                                    <li>
                                       <logout></logout>
                                    </li>
                                </ul>
                            </div>
                            
                            <!-- END TOP NAVIGATION MENU -->

                        </div>
                    </div>
                    <!-- END HEADER TOP -->
                    <!-- BEGIN HEADER MENU -->
                    <div class="page-header-menu">
                        <div class="container">

                            <!-- BEGIN MEGA MENU -->
                            <div class="hor-menu  ">
                                <ul class="nav navbar-nav">
                                    <li class="menu-dropdown classic-menu-dropdown">
                                        <a [routerLink]="['/map']">
                                            Map
                                            <span class="arrow"></span>
                                        </a>

                                    </li>
                                    <li class="menu-dropdown mega-menu-dropdown active">
                                        <a [routerLink]="['/list']">
                                            Users
                                            <span class="arrow"></span>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <!-- END MEGA MENU -->
                        </div>
                    </div>
                    <!-- END HEADER MENU -->
                </div>
                <!-- END HEADER -->
            </div>
        </div>
     
        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <div class="page-container">
                    <div class="page-content-wrapper">
                        <div class="page-head">
                            <div class="container">
                                <!-- BEGIN PAGE TITLE -->
                                <!-- END PAGE TITLE -->
                            </div>
                        </div>
                        <div class="page-content">
                            <div class="container">
                                <div class="page-content-inner">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet light ">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-equalizer font-red-sunglo"></i>
                                                        <span class="caption-subject font-black-sunglo bold uppercase">User Details</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body form">
                                                    <!-- BEGIN FORM-->
                                                    <form action="#" class="form-horizontal" [formGroup]="editForm" novalidate (ngSubmit)="save(editForm.value, editForm.valid)">
                                                        <div class="form-body">
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><strong><span class="text-red">*</span>User ID</strong></label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control" formControlName="UserId">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><strong><span class="text-red">*</span>User Name</strong></label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control" formControlName="Username">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><strong>Email ID</strong></label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control" formControlName="Email">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><strong>Mobile No</strong></label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control" formControlName="Mobile">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><strong><span class="text-red">*</span>User Role</strong></label>
                                                                <div class="col-md-4">
                                                                    <select class="form-control" type="text" formControlName="RoleId">
                                                                        <option></option>
                                                                        <option value="1">ADMIN</option>
                                                                        <option value="2">NORMAL</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><strong><span class="text-red">*</span>Department</strong></label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control" formControlName="Department">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><strong>Title</strong></label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control" formControlName="Title">
                                                                </div>
                                                            </div>
                                                            <div class="form-group last">
                                                                <label class="col-md-3 control-label"><strong><span class="text-red">*</span>Status</strong></label>
                                                                <div class="col-md-4">
                                                                    <div class="mt-radio-inline">
                                                                        <label class="mt-radio">
                                                                            <input type="radio" value="active" checked="" class="form-control" formControlName="Status"> Active
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio">
                                                                            <input type="radio" value="inactive" checked="" class="form-control" formControlName="Status"> Inactive
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-actions">
                                                            <div class="row">
                                                                <div class="col-md-offset-3 col-md-4">
                                                                    <button type="button" class="btn green" (click)="saveProduct()">Submit</button>
                                                                    <button type="button" class="btn default" [routerLink]="['/list']">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!-- END FORM-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-wrapper-row">
            <div class="page-wrapper-bottom footer-bottom">
                <!-- BEGIN FOOTER -->
                <!-- BEGIN INNER FOOTER -->
                <div class="page-footer">
                    <div class="container">
                        {{year}} © Maxis OnNet All Rights Reserved
                    </div>
                </div>
                <!-- END INNER FOOTER -->
                <!-- END FOOTER -->
            </div>
        </div>
    </div>
</div>