.navbar-light {
    background-color:#66CDAA;
    margin-bottom: 0px;
}
.glyphicon-cog {
    color:white;
}
.caret {
    color:white;
}
.glyphicon-refresh{
    color:white;
}
.btn-primary {
    width:80px;
    margin-right:10px;
}
.btn-default {
    width:80px;
}
.toggle-button-selected {
     background-color: #83B152; 
     border: 2px solid #7DA652;

}
.toggle-button-selected span { 
    left: 26px;
    top: 0;
    margin: 0;
    border: none; 
    width: 24px;
    height: 24px; 
    box-shadow: 0 0 4px rgba(0,0,0,0.1);

}