.neheader{
    width: 330px;
    overflow-y: auto;
    height:250px;
    }

.netable {
    margin: 0;
    font-weight: bold ;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background:#5cb85c;
    color:#fff;
    }
.nehead {
    overflow-y: auto;
    height:345px;
    width: 330px;
   }
#color{
    background-color:aliceblue;
   }

.row-head-color {
    background: #3276b1;
    color: #fff;
}



