<div class="neheader">
    <div class="table-scrollable">
        
        <table class="table tab" [hidden]="!sourcedata || sourcedata.length < 1" id="color">
            <thead class="netable">NE Table</thead><br/>
            <thead>
                <tr>
                    <th>NE Name</th>
                    <th>NE Type</th>
                    <th>NE Roles</th>
                    <th>NE Target</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of sourcedata">
                    <td><a (click)="updatethresh(user.label)" style="color:black">{{ user.label }}</a></td>
                    <td>{{ user.value }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{user.target}}</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>
<br />
<div class="nehead">

    <br />
    <div class="table-scrollable">
        <table class="table table-striped" [hidden]="!_threshdataval || _threshdataval.length < 1" id="color">
            <thead class="netable">Threshold Table</thead><br/>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total</th>
                    <th>Available</th>

                    <th>Used</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of _threshdataval">
                    <td>{{ user.ThresholdTemplateName }}</td>
                    <td>{{ user.Total }}</td>
                    <td>{{ user.Available }}</td>
                    <td>{{ user.Used }}</td>
                    <td>{{ user.Value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>