.neheader
{width: 362px;
       overflow-y: auto;
    height:345px;
}

.netable {
    margin: 0;
    font-weight: 800 ;
    font-family: serif;
    text-align: center;
    font-size: 125%;
}
.nehead {
    overflow-y: auto;
         height:345px;
   
}