<nav class="navbar navbar-light" style="background-color:#66CDAA;margin-bottom: 0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cog" style="color:white">UserList</span></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret" style="color:white"></span></a>
                <ul class="dropdown-menu"></ul>
            </li>
            <li><a href="#"><span class="glyphicon glyphicon-refresh" style="color:white"></span></a></li>
        </ul>
    </div>
</nav>

<button type="button" class="btn btn-default" style="float:right">Excel</button>
<button type="button" class="btn btn-default" style="float:right">Pdf</button>

<div class="container">
    <div class="row header" style="text-align:center;color:green">
        <h3></h3>
    </div>
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>UserName</th>
                <th>EmailId</th>
                <th>MobileNo.</th>
                <th>Department</th>
                <th>Title</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Anusha</td>
                <td>India</td>
                <td>10000</td>
                <td>vendor</td>
                <td>
                    <input id="edit" type="submit" name="edit" value="YES" style="background-color:#66CDAA" />
                </td>
            </tr>
            <tr>
                <td>002</td>
                <td>Charles</td>
                <td>United Kingdom</td>
                <td>28000</td>
                <td>vendor</td>
                <td>
                    <input id="edit" type="submit" name="edit" value="YES" />
                </td>

            </tr>
            <tr>
                <td>003</td>
                <td>Sravani</td>
                <td>Australia</td>
                <td>7000</td>
                <td>vendor</td>
                <td>
                    <input id="edit" type="submit" name="edit" value="YES" />
                </td>

            </tr>
            <tr>
                <td>004</td>
                <td>Amar</td>
                <td>India</td>
                <td>18000</td>
                <td>vendor</td>
                <td>
                    <input id="edit" type="submit" name="edit" value="YES" />
                </td>

            </tr>
            <tr>
                <td>005</td>
                <td>Lakshmi</td>
                <td>India</td>
                <td>12000</td>
                <td>vendor</td>
                <td>
                    <input id="edit" type="submit" name="edit" value="YES" />
                </td>

            </tr>
            <tr>
                <td>006</td>
                <td>James</td>
                <td>Canada</td>
                <td>50000</td>
                <td>vendor</td>
                <td>
                    <input id="edit" type="submit" name="edit" value="YES" />
                </td>

            </tr>

            <tr>
                <td>007</td>
                <td>Ronald</td>
                <td>US</td>
                <td>75000</td>
                <td>vendor</td>
                <td>
                    <input id="edit" type="submit" name="edit" value="YES" />
                </td>

            </tr>
            <tr>
                <td>008</td>
                <td>Mike</td>
                <td>Belgium</td>
                <td>100000</td>
                <td>vendor</td>
                <td>
                    <input id="edit" type="submit" name="edit" value="YES" />
                </td>

            </tr>
            <tr>
                <td>009</td>
                <td>Andrew</td>
                <td>Argentina</td>
                <td>45000</td>
                <td>vendor</td>
                <td>
                    <input id="edit" type="submit" name="edit" value="YES" />
                </td>

            </tr>

            <tr>
                <td>010</td>
                <td>Stephen</td>
                <td>Austria</td>
                <td>30000</td>
                <td>vendor</td>
                <td>
                    <input id="edit" type="submit" name="edit" value="YES" />
                </td>

            </tr>
            <tr>
                <td>011</td>
                <td>Sara</td>
                <td>China</td>
                <td>750000</td>
                <td>vendor</td>
                <td>
                    <input id="edit" type="submit" name="edit" value="YES" />
                </td>

            </tr>
            <tr>
                <td>012</td>
                <td>JonRoot</td>
                <td>Argentina</td>
                <td>65000</td>
                <td>vendor</td>
                <td>
                    <input id="edit" type="submit" name="edit" value="YES" />
                </td>

            </tr>
        </tbody>
    </table>
</div>