.sebm-google-map-container {
  height: 600px;
  width:1200px;
  
}
.sebm-google-map-container-inner{
    position:initial!important;
}
    .sebm-google-map-container-inner[_ngcontent-wir-2] {
        position: initial !important;
    }

#form{
	top: 0;
    position: absolute;
    right: 0;
    padding: 80px;
}
.options{
	cursor:pointer;
	padding:10px;
	border-bottom:1px solid black;
	}
	.sebm-google-map-marker {
     height: 10px;
     width: 15px;
   }
.hide-right-pane{
	background-position:0 -23px;
}
.show-right-pane, .hide-right-pane{
    width: 17px;
    height: 23px;
    position: absolute;
    z-index: 999;
    top: 45px;
    display: block;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    background: url("../app/Images/favicon.ico") no-repeat;
}

.wrapper{
    overflow:hidden;
}
section{
    padding:30px 30px 30px 80px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;

}
nav{
    z-index:1000;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    background:white;
    width:383px;
    height:100%;
    margin:0 0 0 -383px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



label{
    display:block;
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    font-weight:700;
    background:#d9534f;
    line-height:42px;
    color:#fff;
    text-align:center;
    font-size:0.5em;
    padding-top:16px;
    width:13px;
    height:34px;
    line-height:1.1em;
    position:fixed;
margin-top:2px;
    left:0;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    z-index:1001;
}
input[type="checkbox"]{
    display:none;
}
input[type="checkbox"]:checked ~ nav{
    margin:0;
}
input[type="checkbox"]:checked ~ label{
    left:373px;
}
input[type="checkbox"]:checked ~ section{
    -webkit-transform:translate3d(373px, 0, 0);
    -moz-transform:translate3d(373px, 0, 0);
    -o-transform:translate3d(373px, 0, 0);
    transform:translate3d(373px, 0, 0);
}
#form{
	top: 0;
    position: absolute;
    right: 0;
    padding: 80px;
}
.options{
	cursor:pointer;
	padding:10px;
	border-bottom:1px solid black;
	}
	.sebm-google-map-marker {
     height: 10px;
     width: 15px;
   }
.hide-right-pane{
	background-position:0 -23px;
}
.show-right-pane, .hide-right-pane{
    width: 17px;
    height: 23px;
    position: absolute;
    z-index: 999;
    top: 45px;
    display: block;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    background: url("../app/Images/favicon.ico") no-repeat;
}


    /*#pannel {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width:0;
        background-color: #FFFF;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    #pannel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    #pannel a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }*/


    @media screen and (max-height: 450px) {
      #pannel {padding-top: 80px;}
      #pannel a {font-size: 18px;}
    }
